@model IEnumerable<WebApplication5.Models.Pas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RekeningID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KlantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hash)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RekeningID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KlantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actief)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hash)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PasID })
        </td>
    </tr>
}

</table>
