@model WebApplication5.Models.Rekening

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rekening</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RekeningType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RekeningType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RekeningID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
