@model IEnumerable<WebApplication5.Models.Transactie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RekeningID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtmID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RekeningID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AtmID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactieID })
        </td>
    </tr>
}

</table>
