@model WebApplication5.Models.Transactie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transactie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RekeningID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RekeningID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
